---
title: About this Page for You
layout: base.njk
---
 
  <div class="container">
        <h1>This is a Page for You.</h1>
        <p>It was made using HTML, CSS & JAVASCRIPT. And Served as a JAMSTACK SITE.</p>
    </div>
